.container {
  margin-inline: 40px;
  margin-top: 60px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.hero {
  background-image: url(/bg1.jpg);
  width: 790px;
  height: 500px;
  background-size: cover;
  border-radius: 12px;
}

.content {
  text-align: center;
}
.content h1 {
  font-size: 36px;
  color: #fff;
  padding-top: 190px;
}

.content h1::first-letter{
    font-size: 40px;
    color: aquamarine;
}

.btn {
  font-size: 16px;
  outline: none;
  background-color: #000;
  color: #fff;
  padding: 8px 58px;
  border-radius: 8px;
  cursor: pointer;
}

.btn:hover{
    background-color: tomato;
    color: #000;
}
.sidebar {
  width: 300px;
}

.card {
  width: 300px;
  height: 480px;
  border: 1px solid lightgray;
  border-radius: 12px;
  padding: 8px 16px;
  overflow-y: scroll;
}
::-webkit-scrollbar{
    display: none;
}

html{
    scroll-behavior: smooth;
}

.card img {
  /* position: sticky;
  top: 0; */
  width: 100%;
  border-radius: 16px;
}
